<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Companies</h1>
        <h3>View and add companies below.</h3><br>
        <h5>Add a new company</h5>
        <form id="addCompanyForm" method="POST" action="/AddCompany">
            <label for="cname">Company Name:</label><br>
            <input type="text" id="cname" name="cname"><br><br>
            <label for="cbudget">Company Budget:</label><br>
            <input type="text" id="cbudget" name="cbudget"><br><br>
            <label for="texpenses">Total Expenses:</label><br>
            <input type="text" id="texpenses" name="texpenses"><br><br>
            <label for="trevenue">Total Revenue:</label><br>
            <input type="text" id="trevenue" name="trevenue"><br><br>
            <label for="hqlocation">HQ Location:</label><br>
            <input type="text" id="hqlocation" name="hqlocation"><br><br>
            <input type="submit" value="Submit"><br>
        </form>       
        <br>

        <h5>Browse existing companies</h5>
        <table>
        <thead>
        <tr>
            <th>Company ID</th>
            <th>Company Name</th>
            <th>Company Budget</th>
            <th>Total Expenses</th>
            <th>Total Revenue</th>
            <th>HQ Location</th>
        </thead>
        <tbody>
        <% results.forEach(function(thing){ %>
        <tr>
            <td><%= thing.company_id %></td>
            <td><%= thing.company_name %></td>
            <td><%= thing.budget %></td>
            <td><%= thing.total_expenses %></td>
            <td><%= thing.total_revenue %></td>
            <td><%= thing.hq_location %></td>
        </tr>
        <% }) %>
        </tbody>
        </table>
        <style type="text/css">
        table {
        border-collapse: separate;
        margin-left: -12px !important;
        }
        </style> 
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>