<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron">
    <h1>Crews</h1>
        <h3>View and add job crews below.</h3><br>
		<h5>Add a new crew</h5>
		<form>
		<label for="cname">Crew Name</label><br>
  <input type="text" id="cname" name="cname"><br><br>
  <input type="submit" value="Submit"><br>
</form>
		<br>
		<h5>Browse existing crews</h5>
		<table>
		<thead>
		<tr>
			<th>Crew ID</th>
			<th>Crew Name</th>
		</thead>
		<tbody>
		<% myUsers.forEach(function(thing){ %>
        <tr>
			<td><%= thing.cid %></td>
			<td><%= thing.cname %></td>
		</tr>
      <% }) %>
	  </tbody>
	  </table>
	  <style type="text/css">
	  table {
		border-collapse: separate;
		border-spacing: 12px 7px;
		margin-left: -12px !important;
		}
	  </style>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>