
<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container" style="min-width: 1440px !important;">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron" style="height: auto !important;">
        <h1>Financials Dashboard</h1><br>
        <h3>View, edit, and add Job Cost information below.</h3><br>
		<h5>Use the search boxes below to filter expenses, or scroll to the bottom to add a new expense.</h5>
		<h9>Note: the date filter will find all expenses after the selected date.</h9>
	<br>
	<table id="jcost">
		<thead>
			<tr>
				<th>Date/Time</th>
				<th>Equipment</th>
				<th>Job</th>
				<th>Crew</th>
				<th>Phase</th>
				<th>Cost Type</th>
				<th>Hours</th>
				<th>Rate</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<form id="filterDashboardForm" method="POST" action="/filterDashboardForm">
				<tr>
				<td><input type="datetime-local" id="dtime2" name="dtime2"></td>
				<td>
					<select type="text" id="eid2" name="eid2">
						<option value="">No Selection</option>	
						<% eidSelections.forEach(function(equips){ %>
							<option value="<%= equips.equip_id %>"><%= equips.equip_name %></option>
						<% }) %>
					</select>
				</td>
				<td>
					<select type="text" id="jid2" name="jid2">
						<option value="">No Selection</option>
						<% jidSelections.forEach(function(jobs){ %>
							<option value="<%= jobs.job_id %>"><%= jobs.job_name %></option>
						<% }) %>
					</select>
				</td>				
				<td>
					<select type="text" id="cid2" name="cid2">
						<option value="">No Selection</option>	
						<% cidSelections.forEach(function(crews){ %>
							<option value="<%= crews.crew_id %>"><%= crews.crew_name %></option>
						<% }) %>
					</select>
				</td>	
				<td>
					<select type="text" id="pid2" name="pid2">
						<option value="">No Selection</option>	
						<% pidSelections.forEach(function(phases){ %>
							<option value="<%= phases.phase_id %>"><%= phases.phase_name %></option>
						<% }) %>
					</select>
				</td>					
				<td>
					<select id="ct2" name="ct2">
						<option value=""></option>
						<option value="LS">Lump Sum</option>
						<option value="C+">Cost Plus</option>
					</select></td>
				<td><input type="number" id="hours2" name="hours2"></td>
				<td><input type="number" id="rate2" name="rate2"></td>
					<td><input type="submit" value="Filter"></td>
			</form>
			<form id="resetDashboardForm" method="POST" action="/resetDashboardForm">
				<td><input type="submit" value="Reset Filters"></td>
			</form>
			</tr>

			<% jcCounter = 0; %>
			<% results.forEach(function(row){ %>
				<form method="POST" action="/jcUpdate">
				<tr id="<%= row.job_cost_id %>">
					<td style="display:none !important;" name="jid"><%= row.job_cost_id %></td>
					<td name="time"><input name="time" type="datetime-local" value="<%= row.caldate %>T<%= row.time %>" disabled required></td>
					<td>
						<select name="eid" value="<%= row.equip_id %>" disabled>
							<% eidSelections.forEach(function(equips){ %>
								<% if (row.equip_id == equips.equip_id){ %>
									<option value="<%= equips.equip_id %>" selected="selected"><%= equips.equip_name %></option>
								<% } else { %>  
									<option value="<%= equips.equip_id %>"><%= equips.equip_name %></option>
								<% } %>

							<% }) %>
								<% if (row.equip_id === null){ %>
									<option value="NULL" selected="selected">NULL</option>
								<% } else { %>  
									<option value="NULL">NULL</option>
								<% } %>
						</select>
					</td>
					<td>
						<select name="jid" id="jid" value="<%= row.job_id %>" disabled>
						<% jidSelections.forEach(function(jobs){ %>
							<% if (row.job_id == jobs.job_id){ %>
								<option value="<%= jobs.job_id %>" selected="selected"><%= jobs.job_name %></option>
							<% } else { %>  
								<option value="<%= jobs.job_id %>"><%= jobs.job_name %></option>
							<% } %>
						<% }) %>
						<% if (row.job_id === null){ %>
									<option value="NULL" selected="selected">NULL</option>
								<% } else { %>  
									<option value="NULL">NULL</option>
								<% } %>
						</select>
					</td>
					<td>
					<select name="cid" id="cid" value="<%= row.crew_id %>" disabled>
						<% cidSelections.forEach(function(crews){ %>
							<% if (row.crew_id == crews.crew_id){ %>
								<option value="<%= crews.crew_id %>" selected="selected"><%= crews.crew_name %></option>
							<% } else { %>  
								<option value="<%= crews.crew_id %>"><%= crews.crew_name %></option>
							<% } %>
						<% }) %>

						<% if (row.crew_id === null){ %>
									<option value="NULL" selected="selected">NULL</option>
								<% } else { %>  
									<option value="NULL">NULL</option>
								<% } %>
						</select>
					</td>
					
					<td>
					<select name="pid" id="pid" disabled>
						<% pidSelections.forEach(function(phases){ %>
							<% if (row.phase_id == phases.phase_id){ %>
								<option value="<%= phases.phase_id %>" selected="selected"><%= phases.phase_name %></option>
							<% } else { %>  
								<option value="<%= phases.phase_id %>"><%= phases.phase_name %></option>
							<% } %>
						<% }) %>

						<% if (row.phase_id === null){ %>
									<option value="NULL" selected="selected">NULL</option>
								<% } else { %>  
									<option value="NULL">NULL</option>
								<% } %>
						</select>
					</td>
					<td>
					
					<select name="ct" id="ct" value="<%= row.cost_type %>" disabled required>
							<% if (row.cost_type == "C+"){ %>
								<option value="C+" selected="selected">C+</option>
								<option value="LS">LS</option>
								<% } else { %> 
								<option value="C+">C+</option>
								<option value="LS" selected="selected">LS</option> 
							<% } %>
						</select>
					</td>
					<td>
					<input type="number" name="hours" value="<%= row.hours %>" disabled required>
					</td>
					<td><input type="number" name="rt" value="<%= row.rate %>" disabled required></td>
					<td>
					<button type="button" name="editButton" style="background-color: #007bff !important; color: #FFFFFF !important; border-radius: 4px;">Edit</button>
					<button type="submit" name="updateButton" style="display:none !important">Update</button>
					</td>
					<td>
					<form id="deleteJCForm" method="POST" action="/deleteJC">
					<input type="hidden" name="jcid" value="<%= row.job_cost_id %>">
					<button type="submit" style="background-color: #e60000 !important; color: #FFFFFF !important; border-radius: 4px;">Delete</button>
					</form>
					</td>
				</tr>
				</form>
		<% jcCounter = jcCounter + 1; %>
      <% }) %>

		</tbody>
	</table>
	<br>
	<br>
	<script>
	  document.getElementById("jcost").addEventListener("click",
	function enableRow(submission) {

		let target = event.target;

		if (target.name != 'editButton') {
			return;
		}
    else {
    	console.log("hit edit button");
		parentTr = target.parentNode.parentNode;

		for (let i = 0; i < parentTr.children.length; i++) {
			let chosenRow = parentTr.children[i].children[0];
			if (chosenRow !== undefined) {
				chosenRow.removeAttribute("disabled");
			}
		}
		let targetParent = target.parentNode;
		targetParent.children[1].setAttribute("style", "background-color: #45a049 !important; color: #FFFFFF !important; border-radius: 4px;");
		target.setAttribute("style", "display:none !important;");
    }
    });

		</script>
	<table><tbody><tr><td>
    <span id="add">
    <h5>Add a new expense item</h5>
	<form id="addJobCostForm" method="POST" action="/AddJobCost">
		<label for="dtime">Date/Time</label><br>
  <input type="datetime-local" id="dtime" name="dtime" required><br><br>
  <label for="eid4">Equipment ID</label><br>
  <select type="text" id="eid4" name="eid4">
						<option value="NULL">No Selection</option>	
						<% eidSelections.forEach(function(equips){ %>
							<option value="<%= equips.equip_id %>"><%= equips.equip_name %></option>
						<% }) %>
					</select>

  <label for="jid4">Job ID</label><br>
  <select type="text" id="jid4" name="jid4">
						<option value="NULL">No Selection</option>
						<% jidSelections.forEach(function(jobs){ %>
							<option value="<%= jobs.job_id %>"><%= jobs.job_name %></option>
						<% }) %>
					</select>
  <br>

  <label for="cid4">Crew ID</label><br>
  <select type="text" id="cid4" name="cid4">
						<option value="NULL">No Selection</option>	
						<% cidSelections.forEach(function(crews){ %>
							<option value="<%= crews.crew_id %>"><%= crews.crew_name %></option>
						<% }) %>
					</select>
  <br>

  <label for="pid4">Phase ID</label><br>
  <select type="text" id="pid4" name="pid4">
						<% pidSelections.forEach(function(phases){ %>
							<option value="<%= phases.phase_id %>"><%= phases.phase_name %></option>
						<% }) %>
					</select>
  <br>

  <label for="ct">Cost Type</label><br>
<select id="ct" name="ct" required>
  <option value="ls">Lump Sum</option>
  <option value="cplus">Cost Plus</option>
</select><br>
<label for="hours">Hours</label><br>
  <input type="number" id="hours" name="hours" required><br>
  <label for="rate">Rate</label><br>
  <input type="number" id="rate" name="rate" required><br>
  <input type="submit" value="Submit"><br>
</form>
		<br>
    </span>
    </td>
    </tr></tbody></table>
	
    </div>
    <style type="text/css">
	  table {
		border-collapse: separate;
		margin-left: -12px !important;
		}
		#jcost input {
		width: 93px;
		}
	  </style>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
