<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container" style="min-width: 1440px !important;">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron" style="height: auto !important;">
        <h1>Financials Dashboard</h1><br>
        <h3>View, edit, and add Job Cost information below.</h3><br>
		<h5>Use the search boxes below to filter expenses, or scroll to the bottom to add a new expense.</h5>
	<br>
	<table id="jcost">
		<thead>
			<tr>
				<th>Date/Time</th>
				<th>Equipment</th>
				<th>Job</th>
				<th>Crew</th>
				<th>Phase</th>
				<th>Cost Type</th>
				<th>Hours</th>
				<th>Rate</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<form id="filterDashboardForm" method="POST" action="/filterDashboardForm">
				<tr>
				<td><input type="datetime-local" id="dtime2" name="dtime2"></td>
				<td><input type="number" id="eid2" name="eid2"></td>
				<td><input type="number" id="jid2" name="jid2"></td>
				<td><input type="number" id="cid2" name="cid2"></td>
				<td><input type="number" id="pid2" name="pid2"></td>
				<td>
					<select id="ct2" name="ct2">
						<option value="LS">Lump Sum</option>
						<option value="C+">Cost Plus</option>
					</select></td>
				<td><input type="number" id="hours2" name="hours2"></td>
				<td><input type="number" id="rate2" name="rate2"></td>
					<td><input type="submit" value="Filter"></td>
			</form>
			<form id="resetDashboardForm" method="POST" action="/resetDashboardForm">
				<td><input type="submit" value="Reset Filters"></td>
			</form>
			</tr>

			<% jcCounter = 0; %>
			<% results.forEach(function(row){ %>
        <tr id="jc<%= jcCounter %>">
			<td style="display:none !important;"><%= row.job_cost_id %></td>
			<td><input type="datetime-local" value="<%= row.date_time %>" disabled></td>
			<td>
				<select name="eid" value="<%= row.equip_id %>">
				<% counter = 0; %>
				<% eqpCounter = 0; %>
				<% eidSelections.forEach(function(equips){ %>
					<option value="<%= equips.equip_id %>" id="eopt<%= counter %>"><%= equips.equip_name %></option>
					<% counter = counter + 1; %>
					<% eqpCounter = eqpCounter + 1; %>
				<% }) %>
				</select>
				<script>
					for (let i = 0; i < <%= eqpCounter %>; i++){
						theNode = document.getElementById("jc<%= jcCounter %>");
						if (document.getElementById("jc<%= jcCounter %>").children[2].children[0].children[i].value == <%= row.equip_id %>) {
							document.getElementById("jc<%= jcCounter %>").children[2].children[0].children[i].selected = 'selected';
						}
					}
					</script>
			</td>
			<td>
				<select name="jid" value="<%= row.job_id %>">
				<% jidSelections.forEach(function(jobs){ %>
					<option value="<%= jobs.job_id %>"><%= jobs.job_name %></option>
				<% }) %>
				</select>
			</td>
			<td>
			<select name="cid" value="<%= row.crew_id %>">
				<% cidSelections.forEach(function(crews){ %>
					<option value="<%= crews.crew_id %>"><%= crews.crew_name %></option>
				<% }) %>
				</select>
			</td>
			
			<td>
			<select name="pid" value="<%= row.phase_id %>">
				<% pidSelections.forEach(function(phases){ %>
					<option value="<%= phases.phase_id %>"><%= phases.phase_name %></option>
				<% }) %>
				</select>
			</td>
			<td>
			
			<select name="ct" value="<%= row.cost_type %>">
					<option value="C+">C+</option>
					<option value="LS">LS</option>
				</select>
			</td>
			<td>
			<input type="number" name="ct" value="<%= row.hours %>">
			</td>
			<td><input type="number" name="rt" value="<%= row.rate %>"></td>
			<td>
			<button type="button" name="editButton">Edit</button>
			</td>
			<td>
			<button type="button" name="deleteButton">Delete</button>
			</td>
		</tr>
		<% jcCounter = jcCounter + 1; %>
      <% }) %>
	  
		</tbody>
	</table>
	<br>
	<br>
	
	<table><tbody><tr><td>
    <span id="add">
    <h5>Add a new expense item</h5>
		<form>
		<label for="dtime">Date/Time</label><br>
  <input type="datetime-local" id="dtime" name="dtime"><br><br>
  <label for="eid">Equipment ID</label><br>
  <input type="number" id="eid" name="eid"><br>
  <label for="jid">Job ID</label><br>
  <input type="number" id="jid" name="jid"><br>
  <label for="cid">Crew ID</label><br>
  <input type="number" id="cid" name="cid"><br>
  <label for="pid">Phase ID</label><br>
  <input type="number" id="pid" name="pid"><br>
  <label for="ct">Cost Type</label><br>
<select id="ct" name="ct">
  <option value="ls">Lump Sum</option>
  <option value="cplus">Cost Plus</option>
</select><br>
<label for="hours">Hours</label><br>
  <input type="number" id="hours" name="hours"><br>
  <label for="rate">Rate</label><br>
  <input type="number" id="rate" name="rate"><br>
  <input type="submit" value="Submit"><br>
</form>
		<br>
    </span>
    </td>
    </tr></tbody></table>
	
    </div>
    <style type="text/css">
	  table {
		border-collapse: separate;
		margin-left: -12px !important;
		}
		#jcost input {
		width: 93px;
		}
	  </style>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>