<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Equipment</h1>
        <h3>View and add job equipment below.</h3><br>
        <h5>Add new equipment</h5>
        <form>
            <label for="ename">Equipment Name:</label><br>
            <input type="text" id="ename" name="ename"><br><br>
            <label for="etype">Equipment Type:</label><br>
            <input type="text" id="etype" name="etype"><br><br>
            <label for="eweight">Equipment Weight:</label><br>
            <input type="text" id="eweight" name="eweight"><br><br>
            <label for="ftype">Fuel Type:</label><br>
            <input type="text" id="ftype" name="ftype"><br><br>
            <label for="edate">Purchase Date:</label><br>
            <input type="date" id="edate" name="edate"><br><br>
            <input type="submit" value="Submit"><br>
        </form>       
        <br>

        <h5>Browse existing companies</h5>
        <table>
        <thead>
        <tr>
            <th>Equipment ID</th>
            <th>Equipment Name</th>
            <th>Equipment Type</th>
            <th>Equipment Weight</th>
            <th>Fuel Type</th>
            <th>Purchase Date</th>
        </thead>
        <tbody>
        <% myUsers.forEach(function(thing){ %>
        <tr>
            <td><%= thing.eid %></td>
            <td><%= thing.ename %></td>
            <td><%= thing.etype %></td>
            <td><%= thing.eweight %></td>
            <td><%= thing.ftype %></td>
            <td><%= thing.pdate %></td>
        </tr>
        <% }) %>
        </tbody>
        </table>
        <style type="text/css">
        table {
        border-collapse: separate;
        border-spacing: 12px 7px;
        margin-left: -12px !important;
        }
        </style>        
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>