<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Jobs</h1>
        <h3>View and add jobs below.</h3><br>
        <h5>Add a new job</h5>
        <form>
            <label for="jname">Job Name:</label><br>
            <input type="text" id="jname" name="jname"><br><br>
            <label for="cname">Company Name:</label><br>
            <input type="text" id="cname" name="cname"><br><br>
            <label for="jlocation">Job Location:</label><br>
            <input type="text" id="jlocation" name="jlocation"><br><br>
            <input type="submit" value="Submit"><br>
        </form>       
        <br>

        <h5>Browse existing jobs</h5>
        <table>
        <thead>
        <tr>
            <th>Job ID</th>
            <th>Job Name</th>
            <th>Company ID</th>
            <th>Job Location</th>
        </thead>
        <tbody>
        <% results.forEach(function(thing){ %>
        <tr>
            <td><%= thing.job_id %></td>
            <td><%= thing.job_name %></td>
            <td><%= thing.company_id %></td>
            <td><%= thing.location %></td>
        </tr>
        <% }) %>
        </tbody>
        </table>
        <style type="text/css">
        table {
        border-collapse: separate;
        border-spacing: 12px 7px;
        margin-left: -12px !important;
        }
        </style>    
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>