<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Phase:Crew M:M Table</h1>
        <h3>Add, view, and delete relationships between phases and crews below.</h3>

		<br>
		<h5>Add a new relationship</h5>
		<form>
		<label for="eid">Equipment ID</label><br>
  <input type="text" id="eid" name="eid"><br>
  <label for="cid">Crew ID:</label><br>
  <input type="text" id="cid" name="cid"><br><br>
  <input type="submit" value="Submit"><br>
</form>

		<br>
		<h5>Browse existing relationships</h5>
		<table>
		<thead>
		<tr>
			<th>Relation ID</th>
			<th>Phase ID</th>
			<th>Crew ID</th>
			<th></th>
		</thead>
		<tbody>
		<% myUsers.forEach(function(thing){ %>
        <tr>
			<td><%= thing.rid %></td>
			<td><%= thing.pid %></td>
			<td><%= thing.cid %></td>
			<td>
			<button type="button">Delete</button>
			</td>
		</tr>
      <% }) %>
	  </tbody>
	  </table>
	  <style type="text/css">
	  table {
		border-collapse: separate;
		border-spacing: 12px 7px;
		margin-left: -12px !important;
		}
	  </style>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>