<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Phases</h1>
        <h3>View and add job phases below.</h3><br>
		<h5>Add a new phase</h5>
		<form>
			<label for="pname">Phase Name</label><br>
			<input type="text" id="pname" name="pname"><br>
			
			<label for="jid">Job Name</label><br>
		<select id="jid" name="jid">
		<% jidSelections.forEach(function(thing){ %>
		<option value="<%= thing.job_id %>"><%= thing.job_name %></option>
		<% }) %>
		</select><br><br>

			<input type="submit" value="Submit" id="inputButton"><br>
		</form>
		<br>
		
		<script>
	  document.getElementById("inputButton").addEventListener("click",
	function addPhase(submission) {
		submission.preventDefault();
		let fullUrl = "http://localhost:8080/Phases";
		//Initialize new request object
		let requestObject = new XMLHttpRequest();
		//Set headers and open parameters
		requestObject.open('POST', fullUrl, true);
		requestObject.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		let pName = document.getElementById("pname").value;
		let jidVal = document.getElementById("jid").value;
		//Make async
		requestObject.addEventListener('load', function () {
			if (requestObject.status >= 200 && requestObject.status < 400) {
				console.log("hitAddButton");
			}
			else {
				//Error making connection
				console.log("error making connection");
			}
		});
		requestObject.send("pName=" + pName + "&jidVal=" + jidVal);
		location.reload(true);
	});
</script>




		
		<h5>Browse existing phases</h5>
		<table>
		<thead>
		<tr>
			<th>Phase ID</th>
			<th>Phase Name</th>
			<th>Job ID</th>
			<th>Job Name</th>
		</thead>
		<tbody>
		<% results.forEach(function(thing){ %>
        <tr>
			<td><%= thing.phase_id %></td>
			<td><%= thing.phase_name %></td>
			<td><%= thing.job_id %></td>
			<td><%= thing.job_name %></td>
		</tr>
      <% }) %>
	  </tbody>
	  </table>
	  <style type="text/css">
	  table {
		border-collapse: separate;
		border-spacing: 12px 7px;
		margin-left: -12px !important;
		}
	  </style>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
