<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Phases</h1>
        <h3>View and add job phases below.</h3><br>
		<h5>Add a new phase</h5>
		<form>
			<label for="pname">Phase Name</label><br>
			<input type="text" id="pname" name="pname"><br>
			<label for="jobid">Job ID:</label><br>
			<input type="text" id="jobid" name="jobid"><br><br>
			<input type="submit" value="Submit"><br>
		</form>
		<br>
		
		
		<h5>Browse existing phases</h5>
		<table>
		<thead>
		<tr>
			<th>Phase ID</th>
			<th>Phase Name</th>
			<th>Job ID</th>
			<th></th>
		</thead>
		<tbody>
		<% results.forEach(function(thing){ %>
        <tr>
			<td><%= thing.phase_id %></td>
			<td><%= thing.phase_name %></td>
			<td><%= thing.job_id %></td>
		</tr>
      <% }) %>
	  </tbody>
	  </table>
	  <style type="text/css">
	  table {
		border-collapse: separate;
		border-spacing: 12px 7px;
		margin-left: -12px !important;
		}
	  </style>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>