<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Phases</h1>
        <h3>View and adjust phase content below.</h3>
		<br>
		<h5>Add a new phase</h5>
		<form>
		<label for="pname">Phase Name</label><br>
  <input type="text" id="pname" name="pname"><br>
  <label for="jobid">Job ID:</label><br>
  <input type="text" id="jobid" name="jobid"><br><br>
  <input type="submit" value="Submit"><br>
</form>
		<br>
		
		
		<h5>Browse existing phases</h5>
		<table>
		<thead>
		<tr>
			<th>Phase ID</th>
			<th>Phase Name</th>
			<th>Job ID</th>
			<th></th>
		</thead>
		<tbody>
		<% myUsers.forEach(function(thing){ %>
        <tr>
			<td><%= thing.pid %></td>
			<td><%= thing.pname %></td>
			<td><%= thing.jid %></td>
		</tr>
      <% }) %>
	  </tbody>
	  </table>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>